.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /*수직 정렬*/
}

.logo img {
  margin-top: 121px;
  width: 130px;
  height: 130px;
}
.title h2 {
  margin-top: 9px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #494949;
}
.text h2 {
  margin-top: 18px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #6F6F6F;
}

.loginBox input{
  width: 598px;
  height: 52px;
  background: #F9F9F9;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  border-radius: 3px; 
  padding-left: 12px;
}
.loginBox input::placeholder{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #BBBBBB;
}
.btn-gray input{
  width: 598px;
  height: 58px;
  background: #A6A6A6;
  border-radius: 3px;
  border: none;
}
.btn-gray input[value]{
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.signUp a, .loginPage a{
  text-decoration: none;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6F6F6F;
}

.pageTitle {
  display: flex;
  flex-wrap: wrap;  /* 요소들의 총 길이가 부모요소보다 길때 다음 요소로 넘어가게 해준다. */
  flex-direction: row;  /*수평 정렬*/
  align-items: left;
  justify-content: left;
  margin-top: 36px;
  margin-left: 48px;
}
.logo-mini img{
  width: 72px;
  height: 72px;
}
 .pageTitle .title {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #494949;
 }

.content {
  margin-top: 58px;
  margin-left: 107px;
  font-family: 'Pretendard';
  font-style: normal;
}
.content .todo{
  box-sizing: border-box;
  width: 137px;
  height: 40px;
  border: 1.5px solid #7B7B7B;
  border-radius: 50px;
}
.content .todo .title{
  margin: 5px auto;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 15px;
}
.content .todo {
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
}

.todo .li {
  width: 500px;
  padding-bottom: 8px;
  padding-left: 3px;
}
.inputForm {
  display: flex;
  flex-direction: row;  /*수평 정렬*/
  align-items: left;
  justify-content: left;
  margin-left: 67px;
  margin-top: 200px;
}
.inputForm input{
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  width: 622px;
  height: 57px;
  background: #F9F9F9;
  border-radius: 5px;
  margin-left: 15px;
  padding-left: 12px;
}
.inputForm input::placeholder{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6C6C6C;
}
